.head{

    background-color: #fff;
    width: 100%;

    

    @media (min-width: $tabletLarge){

  
    display: flex;
    justify-content: space-between;

    .left-header{

        display: flex;
    }
}


}
