body{

    background-image: url(../images/bg.jpg);
}

.food-content, .cuisines{

    padding: 10px;

   h2{

    margin-bottom: 2px;
    color: $darkBlue;
   }

   .sub-title{

    margin-bottom: 35px;
   }

   button{

    border: none;
    background-color: $lightBlue;
    color: white;
    text-transform: uppercase;
    padding: 7px 5px 7px 5px;
   }
}

.button{

    display: flex;
    justify-content: flex-end;
}

.previous-btn{

  margin: 35px 0px 35px 10px;
}

.cuisine-title, .recipe-title{

    background-color: $lightBlue;
    color: white;
    text-transform: uppercase;
    padding: 10px;

    h3{

        margin: 0px;
    }
}

.cuisines{

    display: flex;

    ul{
        padding: 0px;
        margin: 0px;

        li{

            padding-bottom: 15px;
        }
    }

    .cuisine-one{
        
        padding-left: 5px;

    }

    .cuisine-two{

        padding-left: 30px;

    }

    .item{

        list-style-type: none;
        
    }
}

.recipe-one, .recipe-three {

    display: flex;
    background-color: $lightGrey;
    
}

.recipe-two, .recipe-four{

    display: flex;
    background-color: white;
}

.recipe-one, .recipe-three, .recipe-two, .recipe-four{

    text-transform: uppercase;

    img{

        border: 2px solid $lightBlue;
        margin: 10px;
    }

    p{

        margin-top: 35px;
    }
}

.food-one,.food-two, .food-three{

    position: relative;

    p{

        position: absolute;
        bottom: 2px;
        //left: 3px;
        color: white;
        margin: 0px;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.76) ;
        width: 100%;
        padding: 15px 2px;
        font-size: 1.5em;
        
    }
}

