// Colors
$lightBlue: #1a71a9 ;
$darkBlue: #005991;
$lightGrey: #e9e9e9;

// Dimensions

$siteWidth: 1000px;

// Breakpoints
$mobileLarge: 330px; //logo changes from small to large
$tabletSmall: 500px; //hamburger menu disappears food explorer then search bar with nav underneath (no social)
$tabletMedium: 670px; // 3 top pictures go from column to grid
$tabletLarge:700px; // socials appear to the right of search bar
$desktop: 770px; // go to desktop view 

// Fonts

$bodyFont:'Roboto', sans-serif;
$headingFont: 'Roboto Condensed', sans-serif;
$navFont: 'Roboto Condensed', sans-serif;

// Wrapper Width 

$mobileWrapperSmall: 300px; 
$centerMargin: 0 auto;
 

            