// .wrapper{

//     @media( min-width: $desktop) {
//     margin: $centerMargin;
//     max-width: $siteWidth;
// }
// }

.food-wrap{

    background: white;
    margin: $centerMargin;
    margin: 10px;

}


.cuisine-wrap{

    background-color: white;
    margin: $centerMargin;

    margin: 10px;
    
}

.recipe-wrap, .banner-food{

    margin: $centerMargin;
    margin: 10px;

}